/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 150px;
}

h1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

.header_ul {
    display: flex;
    column-gap: 36px;
}

.header_li {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

.header_button {
    border: none;
    border-radius: 32px;
    background: #524A44;
    padding: 12px 18px 12px 19px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

.burger {
    display: none;
}

/* section1 */

.section1 {
    height: 520px;
    padding-inline: 274px;
    background-image: url("../images/cover-1440.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.section1_h2 {
    text-shadow: 3px 3px 4px #FFF;
    font-family: Inter;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
}

.section1_button {
    border: none;
    border-radius: 32px;
    background: #000;
    box-shadow: 0px 4px 4px 0px #FFF;
    padding: 12px 30px 12px 31px;
    color: #F3F3F3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

/* section2 */

.section2 {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 150px;
}

.section2_img {
    border-radius: 32px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.section2_article {
    width: 490px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section2_h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.1px;
}

.section2_p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

/* section3 */
.section3 {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding: 80px 150px;
}

.section3_main_div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background: #E3DAD8;
}

.section3_title_div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.ellipse {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}

h4 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.section3_p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
}

/* footer */

footer {
    display: flex;
    padding: 96px 150px;
    justify-content: space-between;
    align-items: top;
    background-color: #000;
}

h5 {
    color: #FFF;
    font-family: Inter;
    font-size: 24.653px;
    font-weight: 900;
    line-height: 26.414px;
    letter-spacing: -0.44px;
    text-transform: uppercase;
}

h6 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 8px;
}

.footer_li {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.footer_navigation {
    display: flex;
    column-gap: 80px;

}
.footer_nav {
    display: flex;
    flex-direction: column;

}

.footer_ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px
}

.footer_div {
    width: 214px;
}

.footer_sub {
    margin-bottom: 24px;
}

.footer_text {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.4;
}